<div class="flex w-full">
  <%= link_to path, class: "secondary-button" do %>
    <div class="w-4 h-4">
      <%= show_svg "arrow_left" %>
    </div>
    <p><%= t("shared.go_back") %></p>
  <% end %>
</div>
