<%= content_for(:go_back) do %>
  <%= render "shared/go_back", path: pokemons_path %>
<% end %>

<div class="flex flex-col w-full items-center">
  <h2 class="form-title"><%= "#{t("shared.edit")} #{@pokemon.name.capitalize}" %></h2>

  <%= render "form" %>
</div>
